body{
  background-color: #ea7faf; 
}
#MA{
  fill: rgb(25046/100,25046/100,25046/100);
}
#MA{
  fill: rgb(25046/100,25046/100,25046/100);
}
.word{
  fill: black;
}
svg{
  border-style: solid;
  border-width: 1px;
}
